* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a:link {
	text-decoration: none;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
}

.categories {
	z-index: 1000;
	color: #ffffff;
	position: fixed;
	margin-top: 2%;
	left: 1%;
	font-size: 120%;
}

.aboutUs {
	z-index: 1000;
	color: #ffffff;
	position: fixed;
	margin-top: 2%;
	left: 8%;
	font-size: 120%;
}

.vitalik1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

.shapka {
	float: left;
}

a {
	display: block;
	padding: 10px;
}

.sqr {
	z-index: 1000;
	position: fixed;
	margin-top: 60px;
	width: 100%;
	height: 6px;
	background-color: white;
}

h1 {
	font-size: 470%;
	color: white;
	padding-top: 3%;
	font-family: 'Noto Sans Display', sans-serif;
	text-align: center
}

p {
	font-size: 150%;
	color: white;
	padding-left: 30%;
	padding-right: 30%;
	font-family: 'PT Sans Caption', sans-serif;
	text-align: center
}

div {
	color: #ffffff;
	padding-left: 57%;
	font-size: 160%;
	font-weight: bold;	
	margin-top: 1%;
	font-family: 'Verdana';
}

.button1 {
	box-sizing: border-box;
	position: absolute;
	width: 600px;
	height: 100px;
	left: 36%;
	top: 600px;
	text-align: center;
	font-size: 60px;
	border: 1px solid #000000;
	box-shadow: 15px 15px 16px rgba(0, 0, 0, 0.25);
}

.footer {
	z-index: 1000;
	position: absolute;
	margin-top: 2450px;
	width: 100%;
	height: 6px;
	background-color: white;
	

}

.zvazok {
  overflow: hidden;
  font-size: 120%;
  margin-left: 5%;
}

.comanda {
	overflow: hidden;
	font-size: 120%;
	float: left;
	padding-right: 2.5%;
}

.hto {
	padding-left: 4%;
	color: #ffffff;
	margin-top: 2470px;
	font-family: 'Verdana';
}

.maks {
	float: left;
}

.pochta {
	margin-left: 9.5%;
}