* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("image/bgp.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a:link {
    text-decoration: none;
}

.categories {
    z-index: 1000;
    color: #ffffff;
    position: fixed;
    margin-top: 1.2%;
    font-family: 'Verdana', serif;
    left: 1%;
    font-size: 120%;
}

.aboutUs {
    z-index: 1000;
    color: #ffffff;
    position: fixed;
    margin-top: 1.2%;
    font-family: 'Verdana', serif;
    left: 8%;
    font-size: 120%;
}

.vitalik1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.shapka {
    float: left;
}

a {
    display: block;
    padding: 10px;
}

.sqr {
    z-index: 1000;
    position: fixed;
    margin-top: 3.5%;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: 6px;
    background-color: white;
}

h1 {
    background-position-x: 150px;
    background-repeat: no-repeat;
    background-image: url("image/textbg.webp");
    color: transparent;
    font-size: 700%;
    animation: buttonBg 100s infinite alternate;
    padding-top: 10%;
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
}

.quoteText {
    color: white;
    font-size: 200%;
    padding-left: 30%;
    padding-right: 30%;
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    text-shadow:
            -1px -1px 0 #000,
            0   -1px 0 #000,
            1px -1px 0 #000,
            1px  0   0 #000,
            1px  1px 0 #000,
            0    1px 0 #000,
            -1px  1px 0 #000,
            -1px  0   0 #000;
}

.qot {
    text-shadow:
            -1px -1px 0 #000,
            0   -1px 0 #000,
            1px -1px 0 #000,
            1px  0   0 #000,
            1px  1px 0 #000,
            0    1px 0 #000,
            -1px  1px 0 #000,
            -1px  0   0 #000;
    color: #ffffff;
    padding-left: 57%;
    font-size: 160%;
    font-weight: bold;
    margin-top: 1%;
    font-family: 'Verdana', serif;
}

.button1 {
    background-repeat: no-repeat;
    background-image: url("image/textbg.webp");
    animation: buttonBgB 100s infinite alternate;
    z-index: 100;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    position: absolute;
    width: 24%;
    height: 8%;
    left: 50%;
    top: 80%;
    text-align: center;
    font-family: 'Noto Sans Display', serif;
    font-size: 250%;
    border: 1px solid #000000;
    box-shadow: 20px 20px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.button1:hover {
    background-color: #D7D7D7;
}

/* ChatGPT зробив цей код але він на стільки переміняний шо джптшним його уже не назвеш :skull: */

.gallery {
    all: initial;
    display: flex;
    justify-content: center;
    position: relative;
    top: 4%;
    overflow: hidden;
    z-index: 4;
}

.galleryC {
    all: initial;
    display: flex;
    justify-content: center;
    position: relative;
    top: 4%;
    overflow: hidden;
    z-index: 4;
    animation-name: moovinLogo;
    animation-duration: 0.5s;
    animation-play-state: paused;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.gallery-images {
    display: flex;
    transition: transform 0.3s ease;
    height: 400px;
}

.gallery-image {
    flex: 0 0 100%;
    overflow: hidden;
}

.gallery-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.gallery-image.v img {
    transform: scale(0.8);
}

.gallery-image.next img {
    transform: scale(0.8);
}

.gallery-controls {
    user-select: none;
    position: absolute;
    top: 295px;
    transform: translateY(-50%);
    z-index: 4;
}

.control-button {
    position: absolute;
    user-select: none;
    margin-top: 1110px;
    background: none;
    border: none;
}

.control-button:hover {
    color: #666;
}

/* V Лишив пока пікселі бо пока хай так буде -M */

#prev-button {
    left: 620px;
    z-index: 6;
    cursor: url("image/arrowCursorL.svg"), auto;
}

#next-button {
    left: 1218px;
    z-index: 5;
    cursor: url("image/arrowCursorR.svg"), auto;
}

/* ChatGPT-шний код -М*/

.mainRct {
    position: absolute;
    top: 1175px;
    margin-left: 742px;
    height: 562px;
    width: 427px;
    background-color: rgba(53, 53, 53, 0.37);
    z-index: 1;
}

.rct:hover {
    opacity: 70%;
}

/* ^ Лишив пока пікселі бо пока хай так буде -M */

.footer {
    z-index: 1000;
    position: absolute;
    top: 1820px;
    width: 100%;
    height: 6px;
    background-color: white;
}

.zvazok {
    overflow: hidden;
    font-size: 120%;
    margin-left: 160px;
}

.comanda {
    overflow: hidden;
    font-size: 120%;
    float: left;
    padding-right: 2.5%;
}

.hto {
    position: absolute;
    top: 1830px;
    padding-bottom: 6px;
    padding-left: 4%;
    color: #ffffff;
    font-family: 'Verdana', serif;
}

.maks {
    float: left;
}

.pochta {
    margin-left: 120px;
}

.current-image {
    user-select: none;
}

@keyframes rainbow {
    10% {
        background-color: yellow
    }
    30% {
        background-color: purple
    }
    50% {
        background-color: red
    }
    70% {
        background-color: blue
    }
    90% {
        background-color: green
    }
}

@keyframes moovinL {
    from {
        top: 1235px;
        margin-left: 178px;
        height: 450px;
        width: 340px;
    }
    to {
        top: 1175px;
        margin-left: 742px;
        height: 562px;
        width: 427px;
    }
}

@keyframes rctMoovinL {
    from {
        top: 1175px;
        margin-left: 742px;
        height: 562px;
        width: 427px;
    }
    to {
        top: 1238px;
        height: 450px;
        width: 340px;
        margin-left: 1395px;
    }
}


@keyframes moovinR {
    from {
        top: 1235px;
        margin-left: 1395px;
        height: 450px;
        width: 340px;
    }
    to {
        top: 1175px;
        margin-left: 742px;
        height: 562px;
        width: 427px;
    }
}

@keyframes rctMoovinR {
    from {
        top: 1175px;
        margin-left: 742px;
        height: 562px;
        width: 427px;
    }
    to {
        top: 1238px;
        height: 450px;
        width: 340px;
        margin-left: 178px;
    }
}

.active {
    animation-play-state: running;
}

.rct1 {
    animation-name: moovinL;
    animation-duration: 0.75s;
    animation-direction: normal;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.rectL {
    top: 1235px;
    bottom: 845px;
    height: 450px;
    width: 340px;
    margin-left: 178px;
    background-color: rgba(53, 53, 53, 0.37);
    z-index: 2;
    position: absolute;
}

.active2 {
    animation-play-state: running;
}

.rct2 {
    animation: moovinR 0.75s normal paused forwards;
}

.rectR {
    top: 1235px;
    bottom: 845px;
    height: 450px;
    width: 340px;
    margin-left: 1395px;
    background-color: rgba(53, 53, 53, 0.37);
    z-index: 2;
    position: absolute;
}

.activeMain {
    animation-play-state: running;
}

.rctL {
    animation-name: rctMoovinL;
    animation-duration: 0.75s;
    animation-direction: normal;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.rctR {
    animation-name: rctMoovinR;
    animation-duration: 0.75s;
    animation-direction: normal;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.ctrText {
    position: absolute;
    top: 33%;
    left: 20px;
    right: 20px;
    font-family: "inter", sans-serif;
    font-size: 140%;
    color: #f1f1f1;
    text-align: match-parent;
}

/*.isPaid {*/
/*    position: absolute;*/
/*    margin-top: 76%;*/
/*    left: 45px;*/
/*    right: 40px;*/
/*    font-family: Inter, serif;*/
/*    font-size: 135%;*/
/*    color: #f1f1f1;*/
/*    text-align: left;*/
/*    align-items: center;*/
/*    white-space: pre-wrap;*/
/*}*/
/*.isUa {*/
/*    position: absolute;*/
/*    margin-top: 85%;*/
/*    left: 45px;*/
/*    right: 40px;*/
/*    font-family: Inter, serif;*/
/*    font-size: 135%;*/
/*    color: #f1f1f1;*/
/*    text-align: left;*/
/*    align-items: center;*/
/*    white-space: pre-wrap;*/
/*}*/

@keyframes ctrTxtScale {
    from {
        font-size: 140%;
    }
    to {
        font-size: 112%;
    }

}

.ctrActive {
    animation-play-state: running;
}

.centerText {
    animation: ctrTxtScale 0.75s paused forwards;
}

@keyframes fakeRctMoovinL {
    0% {
        top: 1175px;
        margin-left: 742px;
        height: 562px;
        width: 427px;
    }
    100% {
        top: 1238px;
        height: 450px;
        width: 340px;
        margin-left: 1395px;
    }
}

@keyframes fakeRctMoovinR {
    0% {
        top: 1175px;
        margin-left: 742px;
        height: 562px;
        width: 427px;
    }
    100% {
        top: 1238px;
        height: 450px;
        width: 340px;
        margin-left: 178px;
    }
}

.fakeAnimL {
    animation-name: fakeRctMoovinL;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.fakeAnimActive {
    animation-play-state: running;
}

.fakeAnimActiveR {
    animation-play-state: running;
}

.fakeAnimR {
    animation-name: fakeRctMoovinR;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.cc {
    display: none;
}

.txt {
    font-size: 32px;
    text-align: center;
}

.povistka {
    position: absolute;
    top: 1920px;
    left: 1860px;
    font-family: Verdana, serif;
    color: rgba(194, 235, 255);
    opacity: 3%;
}

@keyframes moovinLogo {
    from {
        top: 4%;
    }
    to {
        transform: scale(150%);
        top: 38%;
    }
}

@keyframes onOffCtrTxt {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

#ctrC {
    opacity: 0;
    animation: onOffCtrTxt 1s forwards ease-out;
    animation-play-state: paused;
}

@keyframes buttonBg {
    from {
        background-position-x: 150px;
    }
    to {
        background-position-x: 400px;
    }
}

.textBg {
    position: absolute;
    top: 100px;
    left: 50px;
}

@keyframes buttonBgB {
    from {
        background-position: 0;
    }
    to {
        background-position-x: -600px;
    }
}

.descF {
    font-family: "Verdana", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    margin-top: 260px;
    margin-left: 90px;
}

.descImgF {
    position: absolute;
    margin-top: -10px;
    margin-left: -68px;
}

.descF2 {
    margin-top: 320px;
}
.descImgF2 {
    margin-left: -57px;
}

.invis {
    opacity: 0;
}