* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

a:link {
	text-decoration: none;
}

a {
	display: block;
	padding: 10px;
}

body {
    background-image: url("image/bgp.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.categories {
	z-index: 1000;
	color: #ffffff;
	position: fixed;
	margin-top: 1.2%;
	font-family: 'Verdana';
	left: 1%;
	font-size: 120%;
}

.aboutUs {
	z-index: 1000;
	color: #ffffff;
	position: fixed;
	margin-top: 1.2%;
	font-family: 'Verdana';
	left: 8%;
	font-size: 120%;
}

.Menu1 {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}

.head1 {
	float: left;
}

.sqr {
	z-index: 1000;
	position: fixed;
	margin-top: 3.5%;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
	height: 6px;
	background-color: white;
}

.background123{
    position: absolute;
    width: auto;
    height: auto;
    left: 58px;
    top: 170px;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 5px;
}

.TagText {
    float: left;
    margin-left: 25px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.TagVideo {
    float: left;
    margin-left: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.TagImage {
    float: left;
    margin-left: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.TagVoice {
    float: left;
    margin-left: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.Tagitc {
    float: left;
    margin-left: 50px;
    margin-right: 25px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.tablee {
	position: relative;
	text-align: center;
	color: #ffffff;
	font-family: Verdana;
	font-weight: none;
	font-size: 26px;
	border-radius: 8px;
	padding: 13px;

}

.tds {
	border: 5px solid rgba(0, 0, 0, 0);;
	background: rgba(0, 0, 0, 0.37);
	height: 85px;
}

.column1, .column2, .column3, .column4, .column5{
	width: 160px;
	padding: 5px;
}

.background2 {
	position: absolute;
    width: 750px;
    height: 546.2px;
	left: 1000px;
	top: 170px;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 5px;
}

.container1 {
		position: relative;
	}
	
.textxx {
		color: #ffffff
}


.info{
	color: #ffffff;
	padding: 20px;
}

.images {
	position: absolute;
	top: 150px; 
	left: 960px; 
	opacity: 0; 
	transition: opacity 0.4s ease;
	z-index: 100;
	width: 700px;
}
	
.container:hover + .images   {
	opacity: 1; 
}

.footer {
    z-index: 1000;
    position: absolute;
    top: 790px;
    width: 100%;
    height: 6px;
    background-color: white;
}

.zvazok {
    overflow: hidden;
    font-size: 120%;
    margin-left: 160px;
}

.comanda {
    overflow: hidden;
    font-size: 120%;
    float: left;
    padding-right: 2.5%;
}

.hto {
    position: absolute;
    top: 800px;
    padding-bottom: 6px;
    padding-left: 4%;
    color: #ffffff;
    font-family: 'Verdana', serif;
}

.maks {
    float: left;
}

.pochta {
    margin-left: 120px;
}

.povistka {
    position: absolute;
    top: 900px;
    left: 1860px;
    font-family: Verdana;
    color: rgba(194, 235, 255);
    opacity: 3%;
}